<br>
{% if IsAdmin %}
<div class="row_status row">
	<div class="col" onclick="location.href='/activefleetowner?action=Active'"> 
		<div class="col-md">
			<div class="Card_status card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5>Active Fleet Owner</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ActiveFleetOwner}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col" onclick="location.href='/inactivefleetowner?action=Inactive'">
		<div class="col-md">
			<div class="Card_status card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5>Inactive Fleet Owner</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{InactiveFleetOwner}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
{% endif %}