{% extends 'main.html' %}

{% block content %}

{% include 'fleet_owner_and_fleet_operator/fleet_owner_status.html' %}

<div class="col-sm-12">
  <a href="{% url 'createfleetowner' %}" class="btn btn-info btn-sm">Add-Fleet-Owner</a>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>

    <h4 class="text-center">Fleet Owner Details</h4>
    <form action="" method="GET">
      
        {% if data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">IsAdmin</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>

                      </tr>
                    <tbody>
                    {% for fm in data %}
                        <tr>
                            <td>{{fm.username}}</td>
                            <td>{{fm.email}}</td>
                            <td>{{fm.is_admin}}</td>
                            <td>{{fm.status}}</td>

                          
                          <td style="display: flex;">
                            <a class="table-link" aria-expanded="false" href="{% url 'fleetownerupdate' fm.email %}"><img src="../static/icons/edit.svg"></a>

                          </td>              
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

    </form>
    
</div>
{% endblock %}