{% extends 'main.html' %}

{% block content %}

<div class="row">
<div class="update-swap-station-div">
    <div class="card_Bettery">
        <div class="card-body">
            <h5 class="btn btn-secondary  btn-sm btn-block" style="display: flex;
            justify-content: center;width: 100%;">Update Fleet Operator Details</h5>
            <hr>
       
            {% if data %}
                <form class="formt" method="POST" action="">
                    {% csrf_token %}
    
                    {% if messages %}
                            {% for message in messages %}
                                <div class = "alert alert-{{message.tags}}">{{message}}</div>
                            {% endfor %}
                    {% endif %}
    
    
                    {% for fm in data %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">username</label>
                                <input type='text' name='username' value="{{fm.username}}" class="input-register-text" required>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">username</label>
                                <input type='text' name='email' value="{{fm.email}}" class="input-register-text" readonly>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Assigned Battery To Operator</label>
                                <select type="text" name="assigned_operator" class="input-register-text" required>
                                {% for fleetData in getBattery %}
                                    <option value="{{fleetData.battery_serial_num}}">{{fleetData.model_name}}</option>  
                                {% endfor %}
                            </select>
        
                            </div>
                        </div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                {% if fm.status == True %}
                                <label class="update_fleet_status"><input name="status" type="radio" value="Active" required="" checked>Active</label>
                                {% else %}
                                <label class="update_fleet_status"><input name="status" type="radio" value="Active" required="" >Active</label>
                                {% endif %}

                                {% if fm.status == False %}
                                <label class="update_fleet_status"><input name="status" type="radio" value="Inactive" required="" checked>Inactive</label>
                                {% else %}
                                <label class="update_fleet_status"><input name="status" type="radio" value="Inactive" required="" >Inactive</label>
                                {% endif %}
							</div>
						</div>
    
                    {% endfor %}
                    
                    <div class="submit-button">
                        <div class="submit-div">
                            <input type="submit" class="btn btn-success btn-sm" value="Update">
                        </div>
                        <div class="back-div">
                            <a href="{% url 'listfleetoperator' %}" class="btn btn-info btn-sm">Back</a>
                        </div> 
                    </div>

                {% else %}
                    <h4 class="text-center alert alert warning btn-sm">No Records Found</h4>
                {% endif %}
            </form>
    </div> </div>
</div>
</div>
{% endblock %}