{% extends 'main.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        <h4 class="add_user alert alert-info">Add User Role</h4>
        <form class="formt" method="POST" action="">
            {% csrf_token %}
            <div class="input-group mb-2">
                <div class="input-group-append">
                   <input type='text' name='roles' placeholder="Role Name" class="input-register-text" required>
                </div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <input type='text' name='permission' placeholder="Permission" class="input-register-text" required>
                </div>
            </div>
            <div>
                <input class="btn login_btn btn-sm" type="submit" value="Create Role">
              </div>
        </form>
    </div>
</div>

{% endblock %}