{% extends 'main.html' %}

{% block content %}

<!-- {% include 'status.html' %} -->

<div class="col-sm-8">
    <h4 class="text-center alert alert info">User Data</h4>
    <form action="" method="GET">
        {% if user_data %}
                <!-- {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br> -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <!-- <th scope="col">Adhar-Proof</th> -->
                        <th scope="col">Assigned-Vehicle</th>
                      </tr>
                    <tbody>
                    {% for fm in user_data %}
                      <tr>
                        <td>{{fm.username}}</td>
                        <td>{{fm.email}}</td>
                        <td>{{fm.contact}}</td>
                        <!-- <td>{{fmadhar_proof}}</td> -->
                        <!-- <td><img src="{{fm.adhar_proof.url}}" alt="" class="card-img-top"></td> -->
                        <td>
                            <a href="{% url 'user_management:update' fm.email %}" class="btn btn-warning btn-sm">Edit</a>
                            <form action="{% url 'user_management:delete' fm.email %}" method="POST" class="d-inline">
                                {% csrf_token %}
                              <input type="submit" class="btn btn-danger" value="Delete">
                            </form>

                            <a href="{% url 'getvehicle' %}?email={{fm.email}}" class="btn btn-warning btn-sm">Assigned Vehicle</a>

                            <a href="{% url 'uservehicle' fm.email %}" class="btn btn-warning btn-sm">List Vehicle</a>
                          </td>

                      </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
                  <div style="margin-left: 5%;">
                    <a href="{% url 'home' %}" class="btn btn-info">Home</a>
                  </div>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

                  
    </form>

    <div style="margin-left: 5%;">
      <a href="{% url 'user_management:demo' %}" class="btn btn-secondary">Add-User</a>
    </div>
    
</div>


{% endblock %}