{% extends 'main.html' %}
{% block content %}
<div class="col-md-5">
    <div class="card-body">
        <h4 class="btn btn-secondary  btn-sm btn-block" style="width: 40%;">Add User</h4>
        <form action="" method="POST">
            <div class="">
                <form method="POST" action="" class="formt">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <label class="login">Username</label>
                            <input type='text' name='username' class="input-register-text" required>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <label class="login">Email</label>
                            <input type='text' name='email' class="input-register-text" required>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <label class="login">Contact</label>
                            <input type='text' name='contact' class="input-register-text" required>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <label class="login">Password</label>
                            <input type='text' name='password' class="input-register-text" required>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <label class="login">User Type</label>
                            <select type="text" id="colorSelect" name="user_type" class="input-register-text" required>
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="submit-button">
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-success btn-sm" type="submit" value="Submit">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <a href="{% url 'user_management:getdata' %}" class="btn btn-info btn-sm">Back</a>
                    </div>
                </div>
            </div>
    </div>
        {% endblock %}