
#total-orders{
    background-color: #eef5f9;
}


#orders-delivered{
    background-color: #eef5f9;
}

#orders-pending{
    background-color: #7CD1C0;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f2f4f8 !important;
}
a {
    color: #009efb;
    text-decoration: none;
}
.position-relative {
	position: relative !important;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.container{
    width: 100%;
    HEIGHT: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.p_center{
    text-align: center;
}
.form_container {
    /* margin-top: 20px; */
}

#form-title{
    color: #fff;
    
}

.login_btn {
    width: 100%;
    background: #0a7093 !important;
    color: white !important;
    margin: 1em 0;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group {
        margin: 1em auto !important;
}
.input-group-text {
    background: #f7ba5b !important;
    color: whitesmoke !important;
    border: 0 !important;
    padding: 0.75rem 0.75rem !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.mt-3{
    margin: 1em!important;
}
.mt-4 {
    margin: 0.5rem!important;
}
.flex-content-center{
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

.loginwithgoogle{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  
}

.main-div{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.contentload{
    background-color: #f2f4f8 !important;
}

.sidebar-link i {
    font-style: normal;
    line-height: 25px;
    font-size: 30px;
    color: rgb(87, 81, 81);
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.profile-img{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: auto;
    padding: 35px 0;
}
.icon-svg{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: auto;
    
}
#main-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page-wrapper {
    position: relative;
    background: #eef5f9;
    display: none;
    transition: .2s ease-in;
}
.page-wrapper>.container-fluid, .page-wrapper>.container-lg, .page-wrapper>.container-md, .page-wrapper>.container-sm, .page-wrapper>.container-xl, .page-wrapper>.container-xxl {
    padding: 20px 30px;
    min-height: calc(100vh - 180px);
    max-width: 100%;
}
.page-wrapper>.page-titles {
    max-width: 100%;
    margin: 0 auto;
}
.page-titles {
    padding: 20px 20px  20px;
    margin-bottom: 15px;
}
.w-100 {
    width: 100%!important;
    border-radius: 20px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.col {
	flex: 1 0 0%;
}

.row-cols-auto>* {
	flex: 0 0 auto;
	width: auto;
}

.row-cols-1>* {
	flex: 0 0 auto;
	width: 100%;
}

.row-cols-2>* {
	flex: 0 0 auto;
	width: 50%;
}

.row-cols-3>* {
	flex: 0 0 auto;
	width: 33.3333333333%;
}

.row-cols-4>* {
	flex: 0 0 auto;
	width: 25%;
}

.row-cols-5>* {
	flex: 0 0 auto;
	width: 20%;
}

.row-cols-6>* {
	flex: 0 0 auto;
	width: 16.6666666667%;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
}

.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.col-2 {
	flex: 0 0 auto;
	width: 16.66666667%;
}

.col-3 {
	flex: 0 0 auto;
	width: 25%;
}

.col-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-5 {
	flex: 0 0 auto;
	width: 41.66666667%;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%;
    

}
.iconlink{
    display: flex;
    min-width: calc(205px);
    justify-content: center;
    align-items: center;
    border: 1px solid #060707;
    padding: 10px;
    border-radius: 10px;
}
.col-7 {
	flex: 0 0 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auto;
	width: 58.33333333%;
}

.col-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-9 {
	flex: 0 0 auto;
	width: 75%;
}

.col-10 {
	flex: 0 0 auto;
	width: 83.33333333%;
}

.col-11 {
	flex: 0 0 auto;
	width: 91.66666667%;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}
.align-self-center {
    align-self: center !important;
}
.page-titles .text-themecolor{
    color: black;

}
.page-wrapper>.container-fluid,
.page-wrapper>.container-lg,
.page-wrapper>.container-md,
.page-wrapper>.container-sm,
.page-wrapper>.container-xl,
.page-wrapper>.container-xxl {
	padding: 20px 20px;
	min-height: 100%;
	max-width: 100%;
}
.card {
    display: flex;
    flex-direction: row;
}
.card-wrap {
    position: relative;
    width: 50%;
    height: 500px;
    padding: 50px 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #36807f;
    background-position: 0% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
@media screen and (max-width: 515px){
.card-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px 20px 100px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    background-size: 15%;
}
.login_form {
    display: flex;
    flex-wrap: wrap;
}
}
.h-100{
    border-radius: 25px !important;
    display: flex !important;
    flex-direction: row !important;
}
.card {
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 4px;
    --bs-card-inner-border-radius: 4px;
    --bs-card-cap-padding-y: 0.625rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 25px;
    box-shadow: var(--bs-card-box-shadow);
}
.card .card-title {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}
.card-img-top {
    width: 50% !important;
    border-top-right-radius: var(--bs-card-inner-border-radius);
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    object-fit: contain;
    height: 240px;
}
.text-end {
    text-align: right !important;
}
.text-purple {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-purple-rgb), var(--bs-text-opacity)) !important;
}
.sidebar-nav {
    position: relative;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 10;
    background: #eef5f9;
    box-shadow: 1px 0 20px rgb(74 66 94 / 34%);
    transition: .2s ease-in;
    padding: 10px;
}
.sidebar-nav ul {
    margin: 0;
    padding: 10px;
    
}
.sidebar-nav ul li {
    list-style: none;
}
@media (min-width: 768px){
#main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .sidebar-nav ul {
    padding: 7px;
}
#main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .sidebar-nav {
    position: fixed;
}
#main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .sidebar-nav ul .sidebar-item .sidebar-link {
    padding: 14px 12px;
}
}


.sidebar-nav ul .sidebar-item {
    width: 100%;
    margin-bottom: 10px;
}
.sidebar-nav ul .sidebar-item .sidebar-link.active, .sidebar-nav ul .sidebar-item .sidebar-link:hover {
    opacity: 1;
    background: white;
    box-shadow: 1px 0 20px rgb(74 66 94 / 34%);
}
.sidebar-nav ul .sidebar-item .sidebar-link {
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    white-space: nowrap;
    align-items: center;
    position: relative;
    line-height: 25px;
    font-size: 15px;
    opacity: .6;
   
}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    opacity: .7;
}
.sidebar-footer {
	position: fixed;
	bottom: 0;
	width: 65px;
	display: flex;
	align-items: center;
	border-top: 1px solid #e9ecef;
	z-index: 99;
	transition: .2s ease-in;
}
.card {
    display: flex;
    flex-direction: row;
}
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
    margin: 1rem 0;
    background-color: #fff;
}
.card .card-header .card-title {
    margin-bottom: 0;
}
.login_form{
	flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    grid-column-gap: 8px;
}

img {
    vertical-align: middle;
    width: 20px;
}
.align-items-center {
    align-items: center !important;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
}
.d-flex {
    display: flex !important;
    border-radius: 30px;
}.g-0, .gy-0 {
    --bs-gutter-y: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0 !important;
    color: #54667a;
    background-color: #fff;
    border: 1px solid #060707;
    appearance: none;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #060707;
    outline: 0;
    box-shadow: none;
}
.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown),
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
	padding-top: 0.625rem;
	padding-bottom: .625rem;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: .5rem 0.75rem;
}
.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
	opacity: .65;
	transform: scale(.85) translateY(-2rem) translateX(.15rem);
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(2.5rem + 2px);
    line-height: 1.25;
}