
{% extends 'main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-5">
		<div class="card card-body">
			<div class="battery">
				<h5 class="btn btn-secondary  btn-sm btn-block" style="display: flex;
				justify-content: center">Add IOT Device</h5>
				<hr>
			</div>
			<div class="card_Bettery card-body">
				<div class="iot-div">
					<form method="POST" action="">
						{% csrf_token %}
						
						{% if messages %}
							{% for message in messages %}
								<div class = "alert alert-{{message.tags}}">{{message}}</div>
							{% endfor %}
						{% endif %}
						<div class="input-group">
							<div class="input-group-append">
								<label>Imei Number</label>
								<input type='number' name='imei_number' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label>Hardware Version</label>
								<input type="number" step="any"  name='hardware_version' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label>Firmware Version</label>
								<input type="number" step="any" name='firmware_version' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                <label class="label_formm"><input name="status" type="radio" value="Active" required="" checked>Active</label>
                                <label class="label_formm"><input name="status" type="radio" value="InActive" required="">InActive</label>
							</div>
						</div>
	
						<div class="submit-button">
							<div class="submit-div">
								<input class="btn btn-success btn-sm" type="submit" value="Submit">
							  </div>
	   
							  <div class="back-div">
							   <a href="{% url 'listdevice' %}" class="btn btn-info btn-sm">Back</a>
							 </div>
						</div>	   					
					</form>
				</div>	
			</div>
		</div>
	</div>
</div>

{% endblock %}