
{% extends 'main.html' %}

{% block content %}

<div class="row">
	<div class="container col-lg-6">
	<div class="col-md-5">
		<div class="card_Bettery card-body">
			<div class="battery">
				<h5 class="btn btn-secondary  btn-sm btn-block battery-header" style="justify-content: center;">Add Swap Station</h5>
				<hr>
			</div>
			<div class="card_subb">
				<div class="d-flex">
					<form class="form_swap" method="POST" action="">
						{% csrf_token %}
						
						{% if messages %}
							{% for message in messages %}
							<div class = "top_msg alert alert-{{message.tags}}">{{message}}</div>
							{% endfor %}
					 	{% endif %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Swap Station Name</label>
								<input type='text' name='swap_station_name'  class="input-register-text" required>
							</div>

						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">IMEI Number</label>
								<input type='number' name='imei_number'  class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Number Of Door</label>
								<input type='number' name='number_of_doors'  class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Charge Specification</label>
                                <select type="text"  name="charge_specification" class="input-register-text" required>
                                    <option>58V 15A</option>
                                    <option>66V 12A</option>
                                </select>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Location </label>
								<input type='text' name='Location'  class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Owner</label>
                                <select type="text"  name="assigned_owner" class="input-register-text" required>
                                    <option>LEAP</option>
                                    <option>CACTUS</option>
                                </select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                <label class="label_formm"style="justify-content: flex-end;"><input name="status" type="radio" value="Active" required="">Active</label>
                                <label class="label_formm"style="justify-content: flex-end;"><input name="status" type="radio" value="Inactive" required="">Inactive</label>
                                
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Fleet Owner</label>
								<input type='text' name='assigned_fleet_owner'  class="input-register-text" required>
							</div>
						</div>

						
							<div class="btn-group">
								<input class="btn btn-success btn-sm" type="submit" value="Submit">
								<a href="{% url 'user_management:listswap' %}" class="btn btn-info btn-sm">Back</a>
							</div>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}