{% extends 'main.html' %}
{% block content %}
{% include 'status.html' %}

<div class="row">
   <div class="col-md">
      <h5>Add Vehicle Details</h5>
      <hr>
      <div class="card card-body">
         <a class="btn btn-primary  btn-sm btn-block" href="">Vehicle Details</a>
         <div class="card-body">
            <div class="col-12">
               <form method="POST" action="">
                  {% csrf_token %}
                  {% if messages %}
                  {% for message in messages %}
                  <div class = "alert alert-{{message.tags}}">{{message}}</div>
                  {% endfor %}
                  {% endif %}  
                  <div class="mb-3 row">
                     <label for="text-input" class="col-md-5 col-form-label">Vehicle Model Name</label>
                     <div class="col-md-7">
                        <input class="form-control" type="text" id="text-input">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="text-input" class="col-md-5 col-form-label">Chasis Number</label>
                     <div class="col-md-7">
                        <input class="form-control" type="text"  id="text">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="text" class="col-md-5 col-form-label">Vehicle Configuration</label>
                     <div class="col-md-7">
                        <select type="text"  name="configuration" class="form-control" palce-holder="select"required>
                           <option>48V</option>
                           <option>60V</option>
                           <option>72V</option>
                        </select>
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="text" class="col-md-5 col-form-label">Vehicle Choice</label>
                     <div class="col-md-7">
                        <select type="text"  name="configuration" class="form-control" palce-holder="select"required>
                           <option>2W-L</option>
                           <option>2W-H</option>
                           <option>3W-Erickshaw</option>
                           <option>3W-Loader</option>
                        </select>
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="text" class="col-md-5 col-form-label">Vehicle Iot Imei Number</label>
                     <div class="col-md-7">
                        <input type='text' name='vehicle_iot_imei_number' class="form-control" required>		
                     </div>
                  </div>
				  <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Vehicle Sim Number</label>
					<div class="col-md-7">
					   <input type='text' name='vehicle_sim_number' class="form-control" required>		
					</div>
				 </div>
				 <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Vehicle Warrenty Start Date</label>
					<div class="col-md-7">
					    <input type='date' name='vehicle_warrenty_start_date' class="form-control" required>
					</div>
				 </div>
				 <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Vehicle Warrenty End Date</label>
					<div class="col-md-7">
					    <input type='date' name='vehicle_warrenty_end_date' class="form-control" required>
					</div>
				 </div>

                 <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Assigned Owner</label>
					<div class="col-md-7">
					    <input type='text' name='assigned_owner' class="form-control" required>
					</div>
				 </div>
                 
                
				  <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Assigned Owner</label>
					<div class="col-md-7">
					    <input type='date' name='insurance_start_date' class="form-control" required>
					</div>
				 </div>
				 <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Insurance Start Date</label>
					<div class="col-md-7">
					    <input type='date' name='insurance_start_date' class="form-control" required>
					</div>
				 </div>
				 <div class="mb-3 row">
					<label for="text" class="col-md-5 col-form-label">Insurance End Date</label>
					<div class="col-md-7">
					    <input type='date' name='insurance_end_date' class="form-control" required>
					</div>
				 </div>
                  <div class="d-flex justify-content-center mt-3">
                     <input class="btn btn-success" type="submit" value="Submit">
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                     <a href="{% url 'getvehicle' %}" class="btn btn-info btn-sm">back</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}