
{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<div class="battery">
			<h5 class="battery-header">Add Vehicle Details</h5>
			<hr>
		</div>
		<div class="card_Bettery card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Vehicle Details</a>
			<div class="card_subb card-body">
				<div class="d-flex justify-content-start form_container">
					<form class="form_swap" method="POST" action="">
						{% csrf_token %}

						{% if messages %}
							{% for message in messages %}
							<div class = "alert alert-{{message.tags}}">{{message}}</div>
							{% endfor %}
					 	{% endif %}                    
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Model Name</label>
								<input type='text' name='vehicle_model_name' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Chasis Number</label>
								<input type='text' name='chasis_number' class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Configuration</label>
                                <select type="text"  name="configuration" class="input-register-text" required>
                                    <option>48V</option>
                                    <option>60V</option>
                                    <option>72V</option>
                                </select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Choice</label>
                                <select type="text" name="vehicle_choice" class="input-register-text" required>
                                    <option>2W-L</option>
                                    <option>2W-H</option>
                                    <option>3W-Erickshaw</option>
                                    <option>3W-Loader</option>    
                                </select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Iot Imei Number</label>
								<input type='text' name='vehicle_iot_imei_number' class="input-register-text" required>		
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Sim Number</label>
								<input type='text' name='vehicle_sim_number' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Warrenty Start Date</label>
								<input type='date' name='vehicle_warrenty_start_date' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Vehicle Warrenty End Date</label>
								<input type='date' name='vehicle_warrenty_end_date' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Owner</label>
								<input type='text' name='assigned_owner' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Insurance Start Date</label>
								<input type='date' name='insurance_start_date' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Insurance End Date</label>
								<input type='date' name='insurance_end_date'  class="input-register-text" required>
							</div>
						</div>

						<div class="submit-button">
							<div class="submit-div">
								<input class="btn btn-success btn-sm" type="submit" value="Submit">
							  </div>
						   <div class="back-div">
							   <a href="{% url 'getvehicle' %}" class="btn btn-info btn-sm">back</a>
						   </div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}