
{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}
<br>
<div class="row">
	<div class="col-md-5">
		<hr>
		<div class="card card-body">
			<h4 class="btn btn-secondary  btn-sm btn-block" href="">Add Organisation Details</h4>
			<div class="card card-body">

				<form action="" method="POST">
					{% csrf_token %}
										

					{% for fm in form %}
                		{{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            		{% endfor %}
					<input type="Submit" name="Submit" class="btn btn-success btn-sm" value="Submit" >
					<a href="{% url 'user_management:listorg' %}" class="btn btn-secondary btn-sm">Back</a>

				</form>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}