
{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="row">
	<div class="col-md-5">
		<div class="card_Bettery card-body">
			<div class="battery">
				<h5 class="battery-header">Add Swap-Station</h5>
				<hr>
			</div>
			<div class="card_subb card-body swap_station">
				<div class="d-flex justify-content-start form_container">
					<form class="form_swap" method="POST" action="">
						{% csrf_token %}
						
						{% if messages %}
							{% for message in messages %}
							<div class = "alert alert-{{message.tags}}">{{message}}</div>
							{% endfor %}
					 	{% endif %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Swap Station Name</label>
								<input type='text' name='swap_station_name'  class="input-register-text" required>
							</div>

						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">IMEI Number</label>
								<input type='text' name='imei_number'  class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Number Of Door</label>
                                <select type="text"  name="number_of_doors" class="input-register-text" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Charge Specification</label>
                                <select type="text"  name="charge_specification" class="input-register-text" required>
                                    <option>58V 15A</option>
                                    <option>66V 12A</option>
                                </select>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Configuration</label>
								<input type='text' name='configuration'  class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Owner</label>
                                <select type="text"  name="assigned_owner" class="input-register-text" required>
                                    <option>LEAP</option>
                                    <option>CACTUS</option>
                                </select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                <label class="label_formm"><input name="status" type="radio" value="Active" required="">Active</label>
                                <label class="label_formm"><input name="status" type="radio" value="Inactive" required="">Inactive</label>
                                
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Fleet Owner</label>
								<input type='text' name='assigned_fleet_owner'  class="input-register-text" required>
							</div>
						</div>

						<div class="submit-button">
							<div class="">
								<input class="btn btn-success btn-sm" type="submit" value="Submit">
								<a href="{% url 'user_management:listswap' %}" class="btn btn-info btn-sm">Back</a>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}