
{% extends 'main.html' %}

{% block content %}

<!-- {% include 'status.html' %} -->

<br>
<div class="row">
	<div class="container col-lg-6">
	<div class="col-md-5">
		<hr>
			<div class="card card-body">
				<h4 class="btn btn-secondary  btn-sm btn-block" href="">Driver Details</h4>
				<div class="d-flex"style="padding: auto 1rem;">
					<form class="form_swap"method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %} 

						{% if messages %}
							{% for message in messages %}
							<div class = "alert alert-{{message.tags}}">{{message}}</div>
							{% endfor %}
					 	{% endif %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Username</label>
								<input type='text' name='username' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Contact</label>
								<input type='text' name='contact' class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">User Type</label>
                                <select type="text"  name="user_type" value="Driver" class="input-register-text" required>
                                    <option>Driver</option>
                                </select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Assigned Operator</label>
                                <select type="text" name="assigned_operator" class="input-register-text" required>
								{% for fleetData in get_Fleet_Operator %}
									<option value="{{fleetData.email}}">{{fleetData.username}}</option>  
								{% endfor %}
							</select>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Adhar Card</label>
								<input type='file' name='adhar_card' class="input-register-text" required>		
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Pan Card</label>
								<input type='file' name='pan_card' class="input-register-text" required>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Driving License</label>
								<input type='file' name='driving_license' class="input-register-text" required>
							</div>
						</div>

						<div class="submit-button">
							<div>
								<input class="btn btn-success btn-sm" type="submit" value="Submit">
								<a href="{% url 'getdrivers' %}" class="btn btn-info btn-sm button_details">List Driver</a>
							</div>
							 
				   		</div>

					</form>
				</div>
			</div>
		
	</div>

</div>
</div>
{% endblock %}