{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-8">
    <h4 class="text-center alert alert info">Battery Data</h4>
    <form action="" method="GET">
        {% if battery_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Assigned Battery</th>
                        <th scope="col">Model_name</th>
                        <th scope="col">Battery_serial_num</th>
                        <th scope="col">Battery_type</th>
                        <th scope="col">Bms_type</th>
                        <th scope="col">Iot_type</th>
                        <th scope="col">Iot_imei_number</th>
                        <th scope="col">Warrenty_start_date</th>
                        <th scope="col">warrenty_duration</th>
                        <th scope="col">Status</th>
                        <th scope="col">Battery_cell_chemistry</th>
                        <th scope="col">Battery_pack_nominal_voltage</th>
                        <th scope="col">Battery_pack_nominal_charge_capacity</th>
                        <th scope="col">charging_status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    <tbody>
    
                    {% for fm in battery_data %}
                      <tr>
                        <td>
                          {% if fm.is_assigned %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="checked" value="{{fm}}" name="is_assigned">
                          </div>
                          {% else %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{fm}}" name="is_assigned">
                          </div>
                          {% endif %}
                        </td>
                        <td>{{fm.model_name}}</td>
                        <td>{{fm.battery_serial_num}}</td>
                        <td>{{fm.battery_type}}</td>
                        <td>{{fm.bms_type}}</td>
                        <td>{{fm.iot_type}}</td>
                        <td>{{fm.iot_imei_number}}</td>
                        <td>{{fm.warrenty_start_date}}</td>
                        <td>{{fm.warrenty_duration}}</td>
                        <td>{{fm.status}}</td>
                        <td>{{fm.battery_cell_chemistry}}</td>
                        <td>{{fm.battery_pack_nominal_voltage}}</td>
                        <td>{{fm.battery_pack_nominal_charge_capacity}}</td>
                        <td>{{fm.charging_status}}</td>
                        <td>
                          <a href="{% url 'updatedata' fm.battery_serial_num %}" class="btn btn-warning btn-sm">Edit</a>
                          <form action="{% url 'deletedata' fm.battery_serial_num %}" method="POST" class="d-inline">
                              {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                          </form>
                          <form action="{% url 'data' %}?cahis_id={{cahis_id}}&battery_serial_num={{fm.battery_serial_num}}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-secondary btn-sm" value="Add">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Data Found</h4>
        {% endif %}

        
    </form>
    <a href="{% url 'homed' %}" class="btn btn-info btn-sm">Add-Battery-Data</a>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
    
</div>


{% endblock %}