{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}


<div class="col-sm-12">
    <a href="{% url 'homed' %}" class="btn btn-info btn-sm">Add-Battery-Data</a>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
    <h4 class="text-center alert alert info">Battery Data</h4>
    <div class="card"style="border-radius: 0px;">
    <form action="" method="GET">
      
      {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}

        {% if battery_data %}
       
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Assigned Battery</th>
                        <th scope="col">Model_name</th>
                        <th scope="col">Battery_serial_num</th>
                        <th scope="col">Battery_type</th>
                        <th scope="col">Bms_type</th>
                        <th scope="col">Iot_type</th>
                        <th scope="col">Warrenty_start_date</th>
                        <th scope="col">warrenty_duration</th>
                        <th scope="col">Status</th>
                        <th scope="col">Battery_cell_chemistry</th>
                        <th scope="col">Battery_pack_nominal_voltage</th>
                        <th scope="col">Battery_pack_nominal_charge_capacity</th>
                        <th scope="col">charging_status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    <tbody>
    
                    {% for fm in battery_data %}
                      <tr>
                        <td>
                          {% if fm.is_assigned %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="checked" value="{{fm}}" name="is_assigned">
                          </div>
                          {% else %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{fm}}" name="is_assigned">
                          </div>
                          {% endif %}
                        </td>
                        <td>{{fm.model_name}}</td>
                        <td>{{fm.battery_serial_num}}</td>
                        <td>{{fm.battery_type}}</td>
                        <td>{{fm.bms_type}}</td>
                        <td>{{fm.iot_type}}</td>
                        <td>{{fm.warrenty_start_date}}</td>
                        <td>{{fm.warrenty_duration}}</td>
                        <td>{{fm.status}}</td>
                        <td>{{fm.battery_cell_chemistry}}</td>
                        <td>{{fm.battery_pack_nominal_voltage}}</td>
                        <td>{{fm.battery_pack_nominal_charge_capacity}}</td>
                        <td>{{fm.charging_status}}</td>
                        <td style="display: flex;">
                       
                          <a class="table-link" aria-expanded="false" href="{% url 'updatedata' fm.battery_serial_num %}"><img src="../static/icons/edit.svg"></a>
                          <a class="table-link" aria-expanded="false" href="{% url 'deletedata' fm.battery_serial_num %}"><img src="../static/icons/delete.svg"></a>
                          <a class="table-link" aria-expanded="false" href=""><img src="../static/icons/add-88.svg"value="Add"></a>
                        
                          <a class="table-link" aria-expanded="false" href="{% url 'battery_data' %}"><img src="../static/icons/data-update.svg"/></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
                
        {% else %}
            <h4 class="text-center alert alert warning">No Data Found</h4>
        {% endif %}

    </form>  
  </div>
</div>


{% endblock %}