<head>
   <title>Home</title>
   <meta charset="utf-8">
   <meta name="viewport"
      content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height, target-densityDpi=device-dpi" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/css/battery_pack.css">
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>



<div id="main-wrapper" style="flex-direction:row !important">


   <div class="page-wrapper" style="width: 100%;">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <aside class="sidebar-nav">
         <div class="profile-img">
            <img src="../static/images/profile.png" alt="user" class="w-50">
         </div>
         <h6 style="font-size: 10px;"></h6>
         <ul id="sidebarnav" class="in">

            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'home' %}" aria-expanded="false"><img
                     src="../static/icons/home.svg"></img></a>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link" aria-expanded="false"
                  href="{% url 'user_management:getdata' %}"><img src="../static/icons/Users.svg"></img></a>

            </li>
            <li class="sidebar-item">
               <a href="{% url 'data' %}" class="sidebar-link" aria-expanded="false"><img
                     src="../static/icons/Battery.svg"></img></a>
            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'user_management:listswap' %}" aria-expanded="false"><img
                     src="../static/icons/Swapping station.svg"></img></a>

            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'geofence' %}" aria-expanded="false"><img
                     src="../static/icons/Geography.svg"></img></a>
            </li>

            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'getvehicle' %}" aria-expanded="false"><img
                     src="../static/icons/Vehicles.svg"></img></a>
            </li>

            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'user_management:listorg' %}" aria-expanded="false"><img
                     src="../static/icons/VCU.svg"></img></a>
            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'listdevice' %}" aria-expanded="false"><img
                     src="../static/icons/IOT.svg"></img></a>
            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'csv' %}" aria-expanded="false"><img
                     src="../static/icons/reports.svg"></img></a>
            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="{% url 'user_management:setting' %}" aria-expanded="false"><img
                     src="../static/icons/settings.svg"></img></a>
            </li>
            <li class="sidebar-item">
               <a class="sidebar-link" href="http://osticket.igt-ev.com:8080/" aria-expanded="false"><img
                     src="../static/icons/complaint.svg"></img></a>
            </li>

            <button class="btn btn-dark" style="right: 12%; display: flex; position: absolute;"
               type="submit">Logout</button>
            <!-- <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}

                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  
                </form> -->
         </ul>

      </aside>

      <div class="container-fluid">
         <div class="container_part">

            <div class="left_menu_contain">
               <div class="search_and_title">
                  <div class="searchbar_item">
                     <h4 class="title_search">Title Goes Here</h4> 
                     <form class="search" action="{% url 'sub_data' %}" method='GET'>

                        <input type="text" class="form-control search-menu" placeholder="Search..." name='charging_status'>
                     </form>

                  </div>
               </div>

            <div class="menu_and_list">
               <div class="battery_list_allmenu">
               <div class="battery_list_menu">
                  <ul class="list-group_menu">
                     <div class="d-flex">
                        <img src="../static/images/images.png" class="img_icon">
                        <li class="list_menu_items"> Lithium-ion batteries </li>
                     </div>
                     <div class="d-flex">
                        <img src="../static/images/battery.png" class="img_icon">
                        <li class="list_menu_items"> Nickel-metal hybrid </li> 
                     </div>
                     <div class="d-flex">
                        <img src="../static/images/battery_pack.png" class="img_icon">
                        <li class="list_menu_items"> Battery packs </li>
                     </div>
                     <div class="d-flex">
                        <img src="../static/images/flag.jpeg" class="img_icon">
                        <li class="list_menu_items"> Discharged batteries </li>
                     </div>
                     <div class="d-flex">
                        <img src="../static/images/acid.png" class="img_icon">
                        <li class="list_menu_items"> Lead-acid batteries</li>
                     </div>
                     <div class="d-flex">
                        <img src="../static/images/buy_new.png" class="img_icon">
                        <li class="list_menu_items"> Buy New batteries</li>
                     </div>
                     
                  </ul>
               </div>
               </div>
               <div class="card_container">
                  <div class="right_container">
                     <div class="header_menu">
                        <div class="">
                           <div class="">
                              <h3 class="text-themecolor">BATTERY PACK</h3>
               
                           </div>
                           <div>
                              <a href="javascript:void(0)" class="btn btn-primary">+ Add Filter</a>
                           </div>
                        </div>
                     </div>
                     <div class="card_container">
                        <div class="left-panel-wrap">

                           <div class="panel-dropdown">
                              <ul class="list-group">
                                 <table class="table table-hover">
                                    <thead>
                                    <tbody>
                                       {% for fm in battery_data %}
                                        <tr>
                                          <a href="{% url 'sub_data' %}?battery_id={{fm.battery_serial_num}}" class="group_item link_line">{{fm.battery_serial_num}}</a>            
                                        </tr>
                                      
                                      {% endfor %}
                                    </tbody>
                                    </thead>
                                  </table>
                              </ul>
         
                           </div>
                        </div>
         
         
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                        <div class="container">
                           {% for fm in filter_data %}
                           <div class="selected_battery">Selected Battery :{{fm.battery_serial_num}}</div>
                           <main class="grid">
                             <article>
                               <div class="text">
                                 <h3>State of Charge</h3>
                                 <p>{{fm.charging_status}}</p>
                               </div>
                             </article>
                             <article>
                              <div class="text">
                                <h3>Terminal Voltage</h3>
                                <p>{{fm.battery_pack_nominal_voltage}}</p>
                              </div>
                            </article>
                            <article>
                              <div class="text">
                                <h3>Energy Capacity</h3>
                                <p>{{fm.battery_pack_capacity}}</p>
                              </div>
                            </article>
         
                            <article>
                              <div class="text">
                                <h3>Charge Capacity</h3>
                                <p>{{fm.charging_status}}</p>
                              </div>
                            </article>
         
                             {% endfor %}
                           </main>
                           <div class="card_button">
                              <div class="plus_sign"><button>+</button></div>
                              <div class="button_div">
                                 <button>Last 30 minutes</button>
                                 <button>Grafana Dashboard</button>
                              </div>
                           </div>
                        </div>

                     </div>


                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>

</div>