{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

      <div class="page-wrapper" style="width: 100%;">
         <div class="leftmenucontain">
            <div class="page-titles" style="padding: 20px;">
               <div class="col-lg-12 justify-content-start">Title Goes Here</h3>
               </div>
            </div>
            <div class="col-10 mb-3 searchbar">
               <input type="text" class="form-control" placeholder="Search Tasks Here" aria-describedby="search">
            </div>
            <div class="justify-content-center">
               <ul class="list-group">
                  <li class="list-group-item "> Lithium-ion batteries </li>
                  <li class="list-group-item "> Nickel-metal hybrid </li>
                  <li class="list-group-item "> Battery packs </li>
                  <li class="list-group-item "> Discharged batteries </li>
                  <li class="list-group-item "> Lead-acid batteries</li>
                  <li class="list-group-item "> Buy New batteries</li>
               </ul>

            </div>
         </div>

         <div class="container-fluid" style="padding: 20px 40px;margin-left: 230px;">


            <div class="row page-titles mb-0">
               <div class="col-md-5 col-12 align-self-center">
                  <h3 class="text-themecolor mb-0">BATTERY PACK</h3>

               </div>
               <div class="col-md-5 col-4 align-self-center">

                  <a href="javascript:void(0)" class="btn btn-primary">+ Add Filter</a>
               </div>
            </div>


            <div class="d-flex">
               <div class="left-panel-wrap">
                  <div class="col-lg-12 mb-3 justify-content-start">Battery No.</h3>
                  </div>


                  <div class="panel-dropdown">
                     <ul class="list-group">

                     </ul>

                  </div>
               </div>
               <div class="right-panel-wrap">

   
                     <iframe height="100%" width="100%" src="http://track.irasus.com:8082" title="Battery Sub Menu Pack">
                     </iframe>

                  <!-- <div class="row">
                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                 content.</p>
                              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                 content.</p>
                              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                 content.</p>
                              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                           </div>
                        </div>
                     </div>


                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                 content.</p>
                              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional
                                 content.</p>
                              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-4">
                        <div class="card text-start mb-3">
                           <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                                 <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                 <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
   </div>


{% endblock %}