
{% extends 'main.html' %}

{% block content %}
   <head>
      <title>Home</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.8.36/css/materialdesignicons.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.8.36/css/materialdesignicons.min.css" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/bs/dist/css/bootstrap.css" />
      <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/flag-icon-css/flags/">
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery-sparkline@2.4.0/jquery.sparkline.min.js" integrity="sha256-TKXwAzwvBOzpxaMZKl64fccBhJvyg3wrI8/joXU4VA4=" crossorigin="anonymous"></script>
   </head>

   <body class="body">
      <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="mini-sidebar" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
         <div class="page-wrapper" style="display: block;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
               <div class="d-flex justify-content-start mt-3">
                  <h3 class="text-themecolor mb-0">Dashboard</h3>
               </div>
            </div>
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 onclick="location.href = '/getdata'" class="text-black">Battery Packs
                              </h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/1.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">Swaping Station</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/2.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 onclick="location.href = '/geofence'" class="text-black">Geography</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/3.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 onclick="location.href = '/getuser'" class="text-black">Users</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/4.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 onclick="location.href = '/getvehicle'" class="text-black">Vehicles</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/5.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time and actionable insights</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">VCU</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/6.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">IOT Devices</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/7.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 onclick="location.href = '/getcsv'" class="text-black">Reports</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/8.png" alt="Card image cap">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-3">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h6 class="card-title">Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">Settings</h3>
                           </div>
                        </div>
                        <img class="card-img-top" src="../static/images/9.png" alt="Card image cap">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock %}