
{% extends 'main.html' %}

{% block content  %}
   <head>
      <title>Home</title>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height, target-densityDpi=device-dpi"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/css/bs/dist/css/bootstrap.css" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery-sparkline@2.4.0/jquery.sparkline.min.js" integrity="sha256-TKXwAzwvBOzpxaMZKl64fccBhJvyg3wrI8/joXU4VA4=" crossorigin="anonymous"></script>
   </head>
  
   <body class="body">
      <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="mini-sidebar" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
         <div class="page-wrapper" style="display: block;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
           
            <div class="page-titles"
            style="display: flex; justify-content: space-between;padding: 0px 20px;">
               <div class="col-lg-4 justify-content-start"style="padding-top:20px;">
                  <h3 class="text-themecolor mb-0">DASHBOARD</h3>
               </div>

               {% if messages %}
                  {% for message in messages %}
                  <div class = "mb-0 alert alert-{{message.tags}}">{{message}}</div>
                  {% endfor %}
               {% endif %}
               <div class="col-lg-3 style_card style_profileBar" >
                  <i class="ant-avatar ant-avatar-circle ant-avatar-image"><img src="../static/images/profile.png" alt="avatar"></i>
          
                  <div style="display: flex; flex-flow: column; width: 50%;">
                     <div class="style_userName">{{email}}</div>
                  </div>
               </div>
            </div>
            <div class="container-fluid"style="padding-top: 8px;">
               <!-- Row -->

               <div class="row">

                  {% if UserPermission.BatteryPacks == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/getdata'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text" > Extracting real time insights from Energy Assets.</h5>
                           <div class="pro_gress">
                              <h3 class="text-black">Battery Packs
                              </h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/1.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.SwapingStation == True or newuserPermission.swapstation.view == True %}
                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/listswapstation'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text" >Extracting real time insights from Energy Assets.</h5>
                           <div class="pro_gress">
                              <h3  class="text-black">Swaping Station</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/2.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.Geography == True or newuserPermission.geofence.create == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/geofence'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text" >Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3  class="text-black">Geography</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/3.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.Users == True or newuserPermission.user.view == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/getuser'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text" class="heading_text">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3  class="text-black">Users</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/4.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.Vehicles == True or newuserPermission.vehicle.view == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/getvehicle'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3  class="text-black">Vehicles</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/5.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.VCU == True or newuserPermission.VCU.view == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/vehicledetails'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text">Extracting real time and actionable insights</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">VCU</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/6.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.IOTDevice == True or newuserPermission.iot.view == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/listdevice'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">IOT Devices</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/7.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  {% if UserPermission.Reports == True or newuserPermission.csv.download == True %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/getcsv'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text">Extracting real time and actionable insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">Reports</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/8.png" alt="Card image cap">
                     </div>
                  </div>
                  {% endif %}

                  <div class="col-lg-4 col-md-6 mb-3" onclick="location.href = '/settings'">
                     <div class="card h-100">
                        <div class="card-body" >
                           <h5 class="heading_text">Extracting real time insights from Energy Assets.</h6>
                           <div class="pro_gress">
                              <h3 class="text-black">Settings</h3>
                           </div>
                        </div>
                        <img class="card-img-top dashboard" src="../static/images/9.png" alt="Card image cap">
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>

{% endblock %}