
{% extends 'main.html' %}

{% block content %}


<div class="">
  <h4 class="text-center alert alert info">Battrey Data</h4>

    <p>Are you sure you want to delete <b>"{{item}} ?"</b></p>

    <form action="{% url 'deletedata' item.battery_serial_num %}" method="POST" class="d-inline">
        {% csrf_token %}
      <input type="submit" class="btn btn-danger btn-sm" value="Delete">
      <td>
        <a href="{% url 'data' %}" class="btn btn-secondary btn-sm">Back</a>
    </td>
    </form>

</div>
{% endblock %}