{% extends 'main.html' %}

{% block content %}

<div class="">

    <p>Are you sure you want to delete <b>"{{delete_organisation.organisation_name}} ?"</b></p>

    <form action="{% url 'user_management:deleteorg' delete_organisation.serial_number %}" method="POST" class="d-inline">
        {% csrf_token %}

        <td>
            <a href="{% url 'user_management:listorg' %}" class="btn btn-secondary btn-sm">Back</a>
        </td>
      <input type="submit" class="btn btn-danger btn-sm" value="Remove">
    </form>
</div>

{% endblock %}