{% extends 'main.html' %}

{% block content %}

<div class="col-sm-8">
    <h4 class="text-center alert alert info">User Data</h4>
    <form action="" method="GET">
        {% if files %}
                <!-- {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br> -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Voltage</th>
                        <th scope="col">Battery pack</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Adhar-Proof</th>
                        <th scope="col">Assigned-Vehicle</th>
                      </tr>
                    <tbody>
                    {% for fm in files %}
                      <tr>
                        <td>

                          {% if fm.vehicle_selected %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="checked" value="{{fm}}" name="is_assigned">
                          </div>
                          {% else %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{fm}}" name="is_assigned">
                          </div>
                          {% endif %}
                        </td>

                        <td>{{fm.configuration}}</td>
                        <!-- <td>{{fm.pancard_proof}}</td> -->
                        <td>
                            <p><a href="{% url 'exportcsv' %}"><button type="button">Download {{ file.file.name }}</button></a></p>
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

        
    </form>
    
</div>


{% endblock %}