{% extends 'main.html' %}

{% block content %}



<div class="">
    <h4 class="alert alert-info text-center">Battery Packs</h4>
 
  <td>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back</a>
  </td>
    
  <div class="iramedatadiv">
    <iframe style="position: absolute; height: 100%; width: 100%; border: none" src="http://2.irasus.com:9600/d/OGoAalwK/battery-measurements?from=now-30m&to=now&var-packName={{id}}&kiosk&orgId=15&refresh=1m"></iframe>

 </div>


</div>


{% endblock %}