{% extends 'main.html' %}
{% block content %}
<div class="col-sm-12">

    <h4 class="text-center alert alert info">{{action}} Iot Device</h4>
    <div class="">
      <a href="{% url 'listdevice' %}" class="btn btn-info btn-sm">Back</a>
    <form action="" method="GET">
      
      {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}
        {% if iot_station_data %}
       
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">IOT Imei-Number</th>
                        <th scope="col">Hardware Version</th>
                        <th scope="col">Firmware Version</th>
                        <th scope="col">Status</th>
                      </tr>
                    <tbody>
    
                    {% for fm in iot_station_data %}
                      <tr>
                        <td>{{fm.imei_number}}</td>
                        <td>{{fm.hardware_version}}</td>
                        <td>{{fm.firmware_version}}</td>
                        <td>{{fm.status}}</td>

                        {% if IsAdmin %}

                          <!-- <a class="table-link" aria-expanded="false" href=""><img src="../static/icons/edit.svg"></a> -->

                          <!-- <a class="table-link" aria-expanded="false" href=""><img src="../static/icons/delete.svg"></a> -->

                        {% endif %}   
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
                
        {% else %}
            <h4 class="text-center alert alert warning">No Data Found</h4>
        {% endif %}

    </form>  
  </div>
</div>

{% endblock %}