{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-12">
   
    <h4 class="text-center alert alert info">IOT-Device Data</h4>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
    <a href="{% url 'adddevice' %}" class="btn btn-secondary btn-sm">Add-IOT-Device</a>
    
    <form action="" method="GET">
        {% if iot_device_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Iot Imei-Number</th>
                        <th scope="col">Hardware Version</th>
                        <th scope="col">Firmware Version</th>
                      </tr>
                    <tbody>
                    {% for fm in iot_device_data %}
                        <tr>
                            <td>{{fm.imei_number}}</td>  
                            <td>{{fm.hardware_version}}</td>
                            <td>{{fm.firmware_version}}</td>
                            <td>
                            <a href="{% url 'updatedevice' fm.imei_number %}" class="btn btn-info btn-sm">Edit</a>

                            <form action="{% url 'deletetedevice' fm.imei_number %}" method="POST" class="d-inline">
                                {% csrf_token %}
                              <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                            </form>
                          </td>              
                        </tr>         
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}      
    </form>   
</div>

{% endblock %}