{% extends 'main.html' %}

{% block content %}


<div class="col-sm-12">
   
    <h4 class="text-center alert alert info">Vehicle Profile</h4>
  <div class="col-sm-12 m-3">

    {% if IsAdmin %}

      <a href="{% url 'addvehicle' %}" class="btn btn-info btn-sm">Add-Vehicle</a>
      
    {% endif %}
    
    <a href="{% url 'addriver' %}" class="btn btn-primary btn-sm">Add Driver</a>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
  </div>
    <div class="card card-2"style="border-radius: 0px;">
    <form action="" method="GET">
      {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      
        {% if vehicle_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Select Vehicle</th>
                        <th scope="col">Vehicle Model Name</th>
                        <th scope="col">Chasis Number</th>
                        <th scope="col">Vehicle Configuration</th>
                        <th scope="col">Vehicle Choice</th>
                        <th scope="col">Vehicle Warrenty Start Date</th>
                        <th scope="col">Vehicle Warrenty End Date</th>
                        <th scope="col">Assigned Owner</th>
                        <th scope="col">Insurance Start Date</th>
                        <th scope="col">Insurance End Date</th>
                        <th scope="col">Vehicle Status</th>
                        <th scope="col">Action</th>

                      </tr>
                    <tbody>
                    {% for fm in vehicle_data %}
                        <tr>
                          <td>
                            {% if fm.vehicle_selected %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" checked="checked" value="{{fm}}" name="vehicle_selected">
                            </div>
                            {% else %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="{{fm}}" name="vehicle_selected">
                            </div>
                            {% endif %}
                          </td>
                            <td>{{fm.vehicle_model_name}}</td>
                            <td>{{fm.chasis_number}}</td>
                            <td>{{fm.configuration}}</td>
                            <td>{{fm.vehicle_choice}}</td>
                            <td>{{fm.vehicle_warrenty_start_date}}</td>
                            <td>{{fm.vehicle_warrenty_end_date}}</td>
                            <td>{{fm.assigned_owner}}</td>
                            <td>{{fm.insurance_start_date}}</td>
                            <td>{{fm.insurance_end_date}}</td>
                            <td>{{fm.vehicle_status}}</td>                    
                          
                            <td>
                            <a href="{% url 'assinged' fm.chasis_number %}" class="btn btn-secondary btn-sm">List Battery</a>

                            {% if IsAdmin %}
                            <a href="{% url 'updatevehicle' fm.chasis_number %}" class="btn btn-info btn-sm">Edit</a>

                            <a href="{% url 'deletevehicle' fm.chasis_number %}" class="btn btn-danger btn-sm">Delete</a>

                            <a href="{% url 'data' %}?chasis_number={{fm.chasis_number}}" class="btn btn-warning btn-sm">Assign-To-Battery</a>

                            <a href="{% url 'getvehicle' %}?assigned_to_id={{email_id}}&=chasis_number={{fm.chasis_number}}&action=AssignedToUser" class="btn btn-secondary btn-sm">Assigned-To-User</a>
                            <a href="{% url 'getvehicle' %}?serial_number={{serial_number}}&=chasis_number={{fm.chasis_number}}&action=AssignedToOrganisation" class="btn btn-secondary btn-sm">Assigned-To-Organisation</a>
                            
                            {% endif %}

                          </td>              
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

        
    </form>
  </div>
</div>


{% endblock %}