{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-12">
   
    <h4 class="text-center alert alert info">IOT-Device Data</h4>
    
    <a href="{% url 'adddevice' %}" class="btn btn-secondary btn-sm">Add-IOT-Device</a>
    <a href="{% url 'home' %}" class="btn btn-info btn-sm">Home</a>
    
    <form action="" method="GET">
          
      {% if messages %}
        {% for message in messages %}
          <div class = "alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      
        {% if iot_device_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Iot Imei-Number</th>
                        <th scope="col">Hardware Version</th>
                        <th scope="col">Firmware Version</th>
                        <th scope="col">Assigned Battery Id</th>
                        <th scope="col">Assigned Battery Model</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    <tbody>
                    {% for fm in iot_device_data %}
                        <tr>
                            <td>{{fm.iot_imei_number_id}}</td>  
                            <td>{{fm.hardware_version}}</td>
                            <td>{{fm.firmware_version}}</td>
                            <td>{{fm.battery_serial_num}}</td>
                            <td>{{fm.model_name}}</td>
                            <td>{{fm.assign}}</td>

                            <td style="display: flex;">
                              <a class="table-link" aria-expanded="false" href="{% url 'updatedevice' fm.iot_imei_number_id %}"><img src="../static/icons/edit.svg"></a>

                              <a class="table-link" aria-expanded="false" href="{% url 'devicedelete' fm.iot_imei_number_id %}"><img src="../static/icons/delete.svg"></a>

                            {% if fm.assign %}
                            <a href="{% url 'listdevice' %}?imei_number={{fm.iot_imei_number_id}}&action='remove'" class="btn btn-secondary btn-sm">Remove-To-Battery</a>
                            {% else %}
                            <a href="{% url 'iotdevice' %}?imei_number={{fm.iot_imei_number_id}}&action='add'" class="btn btn-secondary btn-sm"> Assing-To-Battery</a>
                            {% endif %}
                          </td>              
                        </tr>         
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}      
    </form>   
</div>

{% endblock %}