{% extends 'main.html' %}

{% block content %}


<body>
  <div class="col-sm-8">
    <h4 class="text-center alert alert info">Geofence Data</h4>
    <form action="" method="GET">

      {% if listgeofencedata %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Posotion Address</th>
            <th scope="col">Geo-Type</th>
            <th scope="col">Discription</th>
            <th scope="col">Action</th>
          </tr>
        <tbody>
          {% for fm in listgeofencedata %}
          <tr>
            <div>
              <td>{{fm.geoname}}</td>
            </div>
            <div>
              <td>{{fm.pos_address}}</td>
            </div>
            <div>
              <td>{{fm.geotype}}</td>
            </div>
            <div>
              <td>{{fm.description}}</td>
            </div>
            <div>
              <td><a class="btn btn-info btn-sm" href="{% url 'filterdata' fm.id %}">Details</a>
              </td>
            </div>

          </tr>

          {% endfor %}
        </tbody>
        </thead>
      </table>
      {% else %}
      <h4 class="text-center alert alert warning">No Records Found</h4>
      {% endif %}
    </form>
  </div>
</body>

{% endblock %}