{% extends 'main.html' %}

{% block content %}

{% include 'swapstation_status.html' %}

<div class="col-sm-12">
  {% if IsAdmin or newuserPermission.swapstation.create %}
  <a href="{% url 'user_management:addswap' %}" class="btn btn-info btn-sm">Add-Swap-Station</a>
  {% endif %}
  <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>

    <h4 class="text-center">Swap-Station Details</h4>
    <form action="" method="GET">

      <!-- {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %} -->
      
        {% if swap_station_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Swap Station Name</th>
                        <th scope="col">IMEI number</th>
                        <th scope="col">Number of Doors</th>
                        <th scope="col">Charging Specification</th>
                        <th scope="col">Location</th>
                        <th scope="col">Assigned Owner</th>
                        <th scope="col">Status</th>
                        <th scope="col">Assigned Fleet Owner</th>
                        <th scope="col">Action</th>

                      </tr>
                    <tbody>
                    {% for fm in swap_station_data %}
                        <tr>
                            <td>{{fm.swap_station_name}}</td>
                            <td>{{fm.imei_number}}</td>
                            <td>{{fm.number_of_doors}}</td>
                            <td>{{fm.charge_specification}}</td>
                            <td>{{fm.location}}</td>
                            <td>{{fm.assigned_owner}}</td>
                            <td>{{fm.status}}</td>
                            <td>{{fm.assigned_fleet_owner}}</td>

                          
                          <td style="display: flex;">
                            {% if IsAdmin or newuserPermission.swapstation.update %}
                            
                            <a class="table-link" aria-expanded="false" href="{% url 'user_management:swapstation' fm.imei_number %}"><img src="../static/icons/edit.svg"></a>

                            {% endif %}

                            {% if IsAdmin or newuserPermission.swapstation.delete %}
                            <a class="table-link" aria-expanded="false" href="{% url 'user_management:deleteswapstation' fm.imei_number %}"><img src="../static/icons/delete.svg"></a>

                            {% endif %}




                          </td>              
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

    </form>
    
</div>
{% endblock %}