{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-8">
    <h4 class="text-center alert alert info">Assigned Battery</h4>
    <form action="" method="GET">
      {% if messages %}
          {% for message in messages %}
          <div class = "alert alert-{{message.tags}}">{{message}}</div>
          {% endfor %}
      {% endif %}
        {% if assigned_battery_list %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Assigned Battery</th>
                        <th scope="col">Modelname</th>
                        <th scope="col">Battery serial num</th>
                        <th scope="col">Battery type</th>
                        <th scope="col">Bms type</th>
                        <th scope="col">Iot type</th>
                        <th scope="col">Iot imei number</th>
                        <th scope="col">Warrenty start date</th>
                        <th scope="col">warrenty duration</th>
                        <th scope="col">Status</th>
                        <th scope="col">Battery cell chemistry</th>
                        <th scope="col">Battery pack nominal voltage</th>
                        <th scope="col">Battery pack capacity</th>
                        <th scope="col">charging status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    <tbody>
    
                    {% for fm in assigned_battery_list %}
                      <tr>
                        <td>

                          {% if fm.is_assigned %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="checked" value="{{fm}}" name="is_assigned">
                          </div>
                          {% else %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{fm}}" name="is_assigned">
                          </div>
                          {% endif %}
                        </td>
                        <td>{{fm.model_name}}</td>
                        <td>{{fm.battery_serial_num}}</td>
                        <td>{{fm.battery_type}}</td>
                        <td>{{fm.bms_type}}</td>
                        <td>{{fm.iot_type}}</td>
                        <td>{{fm.iot_imei_number}}</td>
                        <td>{{fm.warrenty_start_date}}</td>
                        <td>{{fm.warrenty_duration}}</td>
                        <td>{{fm.status}}</td>
                        <td>{{fm.battery_cell_chemistry}}</td>
                        <td>{{fm.battery_pack_nominal_voltage}}</td>
                        <td>{{fm.battery_pack_capacity}}</td>
                        <td>{{fm.charging_status}}</td>
                        <td>
                        {% if fm.vehicle_assign_id %} 
                          <form action="{% url 'assinged' fm.vehicle_assign_id %}?battery_serial_num={{fm.battery_serial_num}}" method="POST" class="d-inline">
                              {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove">
                          </form>
                        {% else %}
                            <h4 class="text-center alert alert warning">No Assigned Battery Found</h4>
                        {% endif %}
                        </td>

                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Data Found</h4>
        {% endif %}

        
    </form>
    
</div>


{% endblock %}