{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-12">
    <h4 class="text-center alert alert info">Organisation Data</h4>
        {% if organisation_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Organisation Name</th>
                        <th scope="col">Is Active</th>

                      </tr>
                    <tbody>
                    {% for fm in organisation_data %}
                      <tr>
                        <td>{{fm.serial_number}}</td>
                        <td>{{fm.organisation_name}}</td>
                          <!-- <td><select class="form-select" aria-label=".form-select-lg" name="role_name" >
                          {% for dm in orgProfile %}
                          <option value="{{dm}}">{{dm.battery_pack_manufacture}}</option>
                          {% endfor %}
                        </select></td> -->
                        <td>{{fm.is_active}}</td>

                        <td>
                            <a href="{% url 'user_management:updateorg' fm.serial_number %}" class="btn btn-warning btn-sm">Add User</a>
                            
                            <form action="{% url 'user_management:deleteorg' fm.serial_number %}" method="POST" class="d-inline">
                                {% csrf_token %}
                              <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                            </form>
                            
                            <a href="{% url 'user_management:list' fm.serial_number %}" class="btn btn-secondary btn-sm">Org Details</a>

                            <a href="{% url 'user_management:role' fm.serial_number %}" class="btn btn-secondary btn-sm">Create Role</a>
                            
                            <a href="{% url 'user_management:addprofile' fm.serial_number %}" class="btn btn-secondary btn-sm">Create Organization Profile</a>

                            <a href="{% url 'getvehicle' %}?serial_number={{fm.serial_number}}" class="btn btn-warning btn-sm">Assigned Vehicle</a>

                            <a href="{% url 'assingedtoorg' fm.serial_number %}" class="btn btn-danger btn-sm">List Assigned Vehicle</a>
                          </td>     
                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}
    
</div>


{% endblock %}