{% extends 'main.html' %}

{% block content %}

<div class="nav_page col-sm-12">
 

    <h4 class="text-center alert alert info">Organisation Data</h4>
    {% if IsAdmin or newuserPermission.org.create %}
      <a href="{% url 'user_management:addorg' %}" class="btn btn-primary btn-sm">Add Organisation</a>
    {% endif %}
    
      {% if organisation_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Organisation Name</th>
                        <th scope="col">Is Active</th>
                        <th scope="col">Action</th>

                      </tr>
                    <tbody>
                    {% for fm in organisation_data %}
                      <tr>
                        <td>{{fm.serial_number}}</td>
                        <td>{{fm.organisation_name}}</td>
                        <td>{{fm.is_active}}</td>

                        <td>
                          {% if IsAdmin or newuserPermission.org.addUsertoorg %}
                          <a href="{% url 'user_management:updateorg' fm.serial_number %}" class="btn btn-secondary btn-sm">Add User To Organisation</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.delete %}
                          <a href="{% url 'user_management:deleteorg' fm.serial_number %}" class="btn btn-danger btn-sm">Delete</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.createRole %}
                          <a href="{% url 'user_management:role' fm.serial_number %}" class="btn btn-info btn-sm">Create Role</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.createProfile %}
                          <a href="{% url 'user_management:addprofile' fm.serial_number %}" class="btn btn-secondary btn-sm">Create Organization Profile</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.assignedvehical %}
                          <a href="{% url 'getvehicle' %}?serial_number={{fm.serial_number}}" class="btn btn-secondary btn-sm">Assigned Vehicle</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.view %}
                          <a href="{% url 'user_management:list' fm.serial_number %}" class="btn btn-secondary btn-sm">Org Details</a>
                          {% endif %}
                          {% if IsAdmin or newuserPermission.org.listVihical %}
                          <a href="{% url 'assingedtoorg' fm.serial_number %}" class="btn btn-secondary btn-sm">List Assigned Vehicle</a>
                          {% endif %}


                          </td>     
                      </tr>
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}
    
</div>


{% endblock %}