{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

<div class="col-sm-8">
    <h4 class="text-center alert alert info">Organisation Profile</h4>
    <form action="" method="GET">
      {{organisation_profile_data}}
        {% if organisation_profile_data %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Organisation Name</th>
                        <th scope="col">Organisation Profile</th>
                        <th scope="col">Is Active</th>

                      </tr>
                    <tbody>
                    {% for fm in organisation_profile_data %}
                        <tr>
                            {{fm}}
                            <!-- <td>{{fm.serial_number}}</td>
                            <td>{{fm.organisation_name}}</td>
                            <td>{{fm.organisation_profile}}</td>
                            <td>{{fm.is_active}}</td> -->

                          </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}

        
    </form>
    
</div>


{% endblock %}
