{% load i18n %}
{% load static %}
{% block head_title %}{% endblock %}
   
  <aside class="sidebar-nav"> 
   <div class="profile-img">
   <img src="../static/images/profile.png" alt="user" class="w-50">
   </div> 
    

    <ul id="sidebarnav" class="in">

       <li class="sidebar-item">
         <a class="sidebar-link" href="{% url 'home' %}" aria-expanded="false"><img src="../static/icons/Menu/01 - home-dasboard.svg"></img></a>
          </li>
       <li class="sidebar-item">  <a class="sidebar-link"aria-expanded="false"><img src="../static/icons/Menu/02 - Users.svg"></img></a>
        
       </li>
       <li class="sidebar-item">
          <a class="sidebar-link" aria-expanded="false"><img src="../static/icons/Menu/03 - Battery.svg"></img></a>
       </li>
       <li class="sidebar-item">
         <a class="sidebar-link" aria-expanded="false"><img src="../static/icons/Menu/04 - Swapping station.svg"></img></a>
          
       </li>
       <li class="sidebar-item">
          <a class="sidebar-link" href="app-notes.html" aria-expanded="false"><img src="../static/icons/Menu/05 - Geography.svg"></img></a>
       </li>
       
       <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/06 - Vehicles.svg"></img></a>
      </li>
    
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/07 - VCU.svg"></img></a>
      </li>
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/08 - IOT.svg"></img></a>
      </li>
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/09 - reports.svg"></img></a>
      </li>
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/10 - settings.svg"></img></a>
      </li>
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/Menu/11 - complaint.svg"></img></a>
      </li>

    </ul>
   
 </aside>