{% load i18n %}
{% load static %}
{% block head_title %}{% endblock %}
   
  <aside class="sidebar-nav"> 
   <div class="profile-img">
   <img src="../static/images/profile.png" alt="user" class="w-50">
   </div> 
    

    <ul id="sidebarnav" class="in">

       <li class="sidebar-item">
         <a class="sidebar-link"aria-expanded="false"><i class="mdi mdi-home"></i></a>
          </li>
       <li class="sidebar-item">  <a class="sidebar-link"aria-expanded="false"><i class="mdi mdi-account"></i></a>
        
       </li>
       <li class="sidebar-item">
          <a class="sidebar-link" aria-expanded="false"><i class="mdi mdi-battery-charging"></i></a>
       </li>
       <li class="sidebar-item">
         <a class="sidebar-link" aria-expanded="false"><i class="mdi mdi-apple-safari"></i></a>
          
       </li>
       <li class="sidebar-item">
          <a class="sidebar-link" href="app-notes.html" aria-expanded="false"><i class="mdi mdi-map-marker"></i></a>
       </li>
       
       <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><img src="../static/icons/moped.svg"></img></a>
      </li>
    
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><i class="mdi mdi-settings"></i></a>
      </li>
      <li class="sidebar-item">
         <a class="sidebar-link" href="app-todo.html" aria-expanded="false"><i class="mdi mdi-logout"></i></a>
      </li>

    </ul>
   
 </aside>