{% extends 'main.html' %}

{% block content %}

<div class="row">
    <div class=" col-sm-8 offset-2 update_battery_page">
        <h4 class="btn btn-secondary  btn-sm btn-block">Update Battery Details</h4>
        {% if form %}
        <form class="rowd" method="POST" action="">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                <div class = "alert alert-{{message.tags}}">{{message}}</div>
                {% endfor %}
            {% endif %}

            {% for fm in form %}
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Model Name</label>
                        <select type="text" id="model_name" name="model_name" value="{{fm.model_name}}" class="input-register-text" required>
                            {% if fm.model_name == "igtblu" %}
                                    <option value="igtblu" selected>igtblu</option>
                                {% else %}
                                    <option value="igtblu">igtblu</option>
                                {% endif %}

                                {% if fm.model_name == "igtred" %}
                                    <option value="igtred" selected>igtred</option>
                                {% else %}
                                    <option value="igtred">igtred</option>
                                {% endif %}

                                {% if fm.model_name == "igtred" %}
                                    <option value="igtred" selected>igtred</option>
                                {% else %}
                                    <option value="igtred">igtred</option>
                                {% endif %}
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Battery Serial Number</label>
                        <input type='text' name='battery_serial_num' value="{{fm.battery_serial_num}}" class="input-register-text" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Battery Type</label>
                        <select type="text" id="colorSelect" name="battery_type" value="{{fm.battery_type}}" class="input-register-text" required>
                            {% if fm.battery_type == "24" %}
                                    <option value="24" selected>24</option>
                                {% else %}
                                    <option value="24">24</option>
                                {% endif %}

                                {% if fm.battery_type == "48" %}
                                    <option value="48" selected>48</option>
                                {% else %}
                                    <option value="48">48</option>
                                {% endif %}

                                {% if fm.battery_type == "60" %}
                                    <option value="60" selected>60</option>
                                {% else %}
                                    <option value="60">60</option>
                                {% endif %}
                                
                                {% if fm.battery_type == "72" %}
                                    <option value="72" selected>72</option>
                                {% else %}
                                    <option value="72">72</option>
                                {% endif %}
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Bms Type</label>
                        <select type="text" id="colorSelect" name="bms_type"  value="{{fm.bms_type}}" class="input-register-text" required>
                            <option>ION</option>
                            <option>ELECTRIFUEL</option>
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Iot type</label>
                        <select type="text" id="colorSelect" name="iot_type"  value="{{fm.iot_type}}" class="input-register-text" required>
                            {% if fm.iot_type == "trackmate" %}
                                    <option value="trackmate" selected>trackmate</option>
                                {% else %}
                                    <option value="trackmate">trackmate</option>
                                {% endif %}
                                {% if fm.iot_type == "electrifuel" %}
                                    <option value="electrifuel" selected>electrifuel</option>
                                {% else %}
                                    <option value="electrifuel">electrifuel</option>
                                {% endif %}
                                
                                {% if fm.iot_type == "aeidth-IGT" %}
                                    <option value="aeidth-IGT" selected>aeidth-IGT</option>
                                {% else %}
                                    <option value="aeidth-IGT">aeidth-IGT</option>
                                {% endif %}
                        </select>
                    </div>
                </div>
                <!-- <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Iot Imei Number</label>
                        <input type='text' name='iot_imei_number'  value="{{fm.iot_imei_number}}" class="input-register-text" required>
                    </div>
                </div> -->
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Sim Number</label>
                        <input type='text' name='sim_number' value="{{fm.sim_number}}" class="input-register-text" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Warrenty Start Date</label>
                        <input class="input-register-text" name='warrenty_start_date' value="{{fm.warrenty_start_date|date:'Y-m-d'}}" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Warrenty Duration</label>
                        <input class="input-register-text" name='warrenty_duration' value="{{fm.warrenty_duration|date:'Y-m-d'}}" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Assigned Owner</label>
                        <select type="text" name="assigned_owner" class="input-register-text" required>
                        {% for fleetData in getOwnerList %}
                            <option value="{{fleetData.email}}">{{fleetData.username}}</option>  
                        {% endfor %}
                    </select>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Status</label>
                        <select type="text" id="colorSelect" name="status" value="{{fm.status}}" class="input-register-text" required>
                            {% if fm.status == "IN_SWAP_STATION" %}
                                    <option value="IN_SWAP_STATION" selected>IN SWAP STATION</option>
                                {% else %}
                                    <option value="IN_SWAP_STATION">IN SWAP STATION</option>
                                {% endif %}

                                {% if fm.status == "IN_VEHICLE" %}
                                    <option value="IN_VEHICLE" selected>IN VEHICLE</option>
                                {% else %}
                                    <option value="IN_VEHICLE">IN VEHICLE</option>
                                {% endif %}

                                {% if fm.status == "IDEL" %}
                                    <option value="IDEL" selected>IDEL</option>
                                {% else %}
                                    <option value="IDEL">IDEL</option>
                                {% endif %}
                                
                                {% if fm.status == "DAMAGED" %}
                                    <option value="DAMAGED" selected>DAMAGED</option>
                                {% else %}
                                    <option value="DAMAGED">DAMAGED</option>
                                {% endif %}
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Battery Cell Chemistry</label>
                        <input type='text' name='battery_cell_chemistry' value="{{fm.battery_cell_chemistry}}" class="input-register-text" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Battery Pack Nominal Voltage</label>
                        <input type='text' name='battery_pack_nominal_voltage' value="{{fm.battery_pack_nominal_voltage}}" class="input-register-text" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Battery Pack Capacity</label>
                        <input type='text' name='battery_pack_capacity' value="{{fm.battery_pack_capacity}}" class="input-register-text" required>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <label class="label_formm">Charging Status</label>
                        <select type="text" id="colorSelect" name="charging_status" value="{{fm.charging_status}}" class="input-register-text" required>
                            {% if fm.charging_status == "FULL CHARGE" %}
                                    <option value="FULL CHARGE" selected>FULL CHARGE</option>
                                {% else %}
                                    <option value="FULL CHARGE">FULL CHARGE</option>
                                {% endif %}

                                {% if fm.charging_status == "HALF CHARGE" %}
                                    <option value="HALF CHARGE" selected>HALF CHARGE</option>
                                {% else %}
                                    <option value="HALF CHARGE">HALF CHARGE</option>
                                {% endif %}

                                {% if fm.charging_status == "INITIAL" %}
                                    <option value="INITIAL" selected>INITIAL</option>
                                {% else %}
                                    <option value="INITIAL">INITIAL</option>
                                {% endif %}
                                
                                {% if fm.charging_status == "DAMAGED" %}
                                    <option value="DAMAGED" selected>DAMAGED</option>
                                {% else %}
                                    <option value="DAMAGED">DAMAGED</option>
                                {% endif %}
                        </select>
                    </div>
                </div>


            {% endfor %}
            <div class="udate_button">
            <input type="submit" class="btn btn-success btn-sm" value="Update">
            <a href="{% url 'data' %}" class="btn btn-info btn-sm">Back To Details </a>
            </div>
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}
        </form>
    </div>
</div>
{% endblock %}