{% extends 'main.html' %}

{% block content %}


<div class="row">
    <div class="col-md-5">
        <h4 class="btn btn-secondary  btn-sm btn-block">Update IOT-Device Details</h4>
        <div class="card card-body">
            {% if update_IOT_data %}
                <form method="POST" action="">
                    {% csrf_token %}

                        {% if messages %}
                            {% for message in messages %}
                                <div{% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    
                    {% for fm in update_IOT_data %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label>IOT Imei-Number</label>
                                <input type="number" name='imei_number' value="{{fm.imei_number}}" class="input-register-text" required>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label>Hardware Version</label>
                                <input type="number" step="any" name='hardware_version' value="{{fm.hardware_version}}" class="input-register-text" required>
                            </div>
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label>Firmware Version</label>
                                <input type="number" step="any" name='firmware_version' value="{{fm.firmware_version}}" class="input-register-text" required>		
                            </div>
                        </div>

                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                {% if fm.status == "Active" %}
                                <label class="label_formm"><input name="status" type="radio" value="Active" required="" checked>Active</label>
                                {% else %}
                                <label class="label_formm"><input name="status" type="radio" value="Active" required="" >Active</label>
                                {% endif %}

                                {% if fm.status == "Inactive" %}
                                <label class="label_formm"><input name="status" type="radio" value="Inactive" required="" checked>Inactive</label>
                                {% else %}
                                <label class="label_formm"><input name="status" type="radio" value="Inactive" required="" >Inactive</label>
                                {% endif %}
							</div>
						</div>

                    {% endfor %}
                    
                    <div class="submit-button">
                        <div class="submit-div">
                            <input type="submit" class="btn btn-success btn-sm" value="Update">
                        </div>
                        <div class="back-div">
                            <a href="{% url 'listdevice' %}" class="btn btn-info btn-sm">Back</a>
                        </div> 
                    </div>
                    
                {% else %}
                    <h4 class="text-center alert alert warning">No Records Found</h4>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}