{% extends 'main.html' %}

{% block content %}

<div class="row">
<div class="update-swap-station-div">
    <div class="card_Bettery">
        <div class="battery">
            <h5 class="btn btn-secondary  btn-sm btn-block" style="display: flex;
            justify-content: center">Update Swap-Station Details</h5>
            <hr>
        </div>

            {% if update_swap_station_data %}
                <form class="formt" method="POST" action="">
                    {% csrf_token %}
    
                    {% if messages %}
                            {% for message in messages %}
                                <div class = "alert alert-{{message.tags}}">{{message}}</div>
                            {% endfor %}
                    {% endif %}
    
    
                    {% for fm in update_swap_station_data %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Vehicle Model Name</label>
                                <input type='text' name='swap_station_name' value="{{fm.swap_station_name}}" class="input-register-texts" required>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Chasis Number</label>
                                <input type="number" step="any" name='imei_number' value="{{fm.imei_number}}" class="input-register-texts" required>
                            </div>
                        </div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Number Of Door</label>
								<input type='number' name='number_of_doors' value="{{fm.number_of_doors}}"  class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Location</label>
								<input type='text' name='Location' value="{{fm.location}}" class="input-register-text" required>
							</div>
						</div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Charge Specification</label>
                                <select type="text" name="charge_specification" value="{{fm.charge_specification}}" class="input-register-texts" required>
                                    {% if fm.charge_specification == "58V 15A" %}
                                        <option value="58V 15A" selected>58V 15A</option>
                                    {% else %}
                                        <option value="58V 15A">58V 15A</option>
                                    {% endif %}
                                    {% if fm.charge_specification == "66V 12A" %}
                                        <option value="66V 12A" selected>66V 12A</option>
                                    {% else %}
                                        <option value="66V 12A">66V 12A</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Assigned Owner</label>
                                <select type="text" name="assigned_owner" value="{{fm.assigned_owner}}" class="input-register-texts" required>
                                    {% if fm.assigned_owner == "LEAP" %}
                                        <option value="LEAP" selected>LEAP</option>
                                    {% else %}
                                        <option value="LEAP">LEAP</option>
                                    {% endif %}
                                    {% if fm.assigned_owner == "CACTUS" %}
                                        <option value="CACTUS" selected>CACTUS</option>
                                    {% else %}
                                        <option value="CACTUS">CACTUS</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label class="label_formm">Status</label>
                                <br>
                                {% if fm.status %}
                                    <label class="label_formm"><input name="status" type="radio" value="Active" required="" checked>Active</label>
                                    <label class="label_formm"><input name="status" type="radio" value="InActive" required="">InActive</label>
                                {% else %}
                                <label class="label_formm"><input name="status" type="radio" value="Active" required="" checked>Active</label>
                                    <label class="label_formm"><input name="status" type="radio" value="InActive" required="">InActive</label>
                                {% endif %}
							</div>
						</div>

                        <!-- <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Status</label>
                                <input type='text' name='status' value="{{fm.status}}" class="input-register-texts" required>
                            </div>
                        </div> -->
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <label class="label_formm">Assigned Fleet Owner</label>
                                <input type='text' name='assigned_fleet_owner' value="{{fm.assigned_fleet_owner}}" class="input-register-texts" required>
                            </div>
                        </div>
    
                    {% endfor %}
                    
                    <div class="submit-button">
                        <div class="submit-div">
                            <input type="submit" class="btn btn-success btn-sm" value="Update">
                        </div>
                        <div class="back-div">
                            <a href="{% url 'user_management:listswap' %}" class="btn btn-info btn-sm">Back</a>
                        </div> 
                    </div>

                {% else %}
                    <h4 class="text-center alert alert warning btn-sm">No Records Found</h4>
                {% endif %}
            </form>
    </div>
</div>

{% endblock %}