{% extends 'main.html' %}

{% block content %}

<!-- {% include 'status.html' %} -->

<div class="col-sm-12">
    <h4 class="text-center alert alert info">Assigned To Vehicle Driver List</h4>
    <a href="{% url 'getvehicle' %}" class="btn btn-info btn-sm">back</a>
    <form action="" method="GET">
        {% if driver_data %}

            {% if messages %}
                {% for message in messages %}
                <div class = "alert alert-{{message.tags}}">{{message}}</div>
                {% endfor %}
            {% endif %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Verified-info</th>
                        <th scope="col">User-Type</th>
                        <th scope="col">Assigned Fleet Operator</th>
                        <th scope="col">Status</th>
                        <th scope="col">Adhar-Proof</th>
                        <th scope="col">Pan-Proof</th>
                        <th scope="col">Driving-License</th>
                        
                        <th scope="col">Action</th>

                      </tr>
                    <tbody>
                    {% for fm in driver_data %}
                      
                        <tr>
                            <td>{{fm.username}}</td>
                            <td>{{fm.email}}</td>
                            <td>{{fm.user_type}}</td>
                            <td>{{fm.assigned_operator}}</td>
                            <td>{{fm.is_active}}</td>
                            <td>
                                <img src='data:image/jpeg;base64,{{fm.adhar_proof}}' alt="no image display" style="width:100px;height:100px;" >
                            </td>
                            <td>
                                <img src='data:image/jpeg;base64,{{fm.pan_proof}}' alt="no image display" style="width:100px;height:100px;" >
                            </td>
                            <td>
                                <img src='data:image/jpeg;base64,{{fm.driving_license}}' alt="no image display" style="width:100px;height:100px;" >
                            </td> 
                            <td> 
                            
                            {% if fm.vehicle_assigned_id  %}
                              <a href="{% url 'getdrivers' %}?email={{fm.email}}&action='remove'" class="btn btn-danger btn-sm">Remove-To-Driver</a>
                              {% else %}
                              <a href="{% url 'drivervehicle' %}?email={{fm.email}}&action='add'" class="btn btn-secondary btn-sm"> Assing-To-Driver</a>
                            {% endif %}     
                            </td>             
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                    </thead>
                  </table>
            
        {% else %}
            <h4 class="text-center alert alert warning">No Records Found</h4>
        {% endif %}      
    </form>   
</div>
{% endblock %}